:root {
    --highlight-color:rgb(227, 22, 63);
    --text-color:#302e4d;
    --background-color:#f2f2fc;
    --nav-color: #ffff;
    --text-mute:#61607a;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   font-family:  "Rubik", sans-serif;
    
}
.backhighlight{background-color:var(--highlight-color)!important}
.textclr{color:var(--text-color)}
.highlight{color:var(--highlight-color)!important}
.textmute{color: var(--text-mute)}

body{
    
    min-height: 100vh;
    background-color: var(--background-color);
}

.navbar{
    width:250px;
    height: 100vh;
    position:fixed;
    background-color: var(--nav-color);
    transition: 0.5s;
}
#sidebar ul li a{
    transition:0.5s;
    font-weight: 500;
}


#sidebar ul li a:hover{
    margin-left: 3%;
    color: var(--highlight-color)!important;

}
#sidebar ul li a:focus{
    margin-left: 3%;
    color: var(--highlight-color)!important;
}

#sidebar li a:active{
    margin-left: 3%;
    color: var(--highlight-color)!important;
}


.my-container{
    margin-left: 250px;
   
}
#menu-btn{
    display: none;
}



@media (max-width: 1199px){
    .navbar{
        width:250px;
        height: 100vh;
        position:fixed;
        margin-left: -300px;
        background-color: var(--nav-color);
        transition: 0.5s;
    }
    .my-container{
        margin: 0%;
        transition: 0.4s;
    }
    
    .active-nav{
        margin-left: 0%;
    }
    
    .active-cont{
        margin-left: 250px;
    }
    #menu-btn{
        display:inline;
        position: fixed;
        background-color: lightgray;
    }
    #menu-btn:focus{
        box-shadow: 0 0 0 0.25rem gray;
    }
}
.section-heading {
    position: relative;
}
.section-heading::before{
    content: '';
    background-color:var(--highlight-color);
    width: 25px;
    height: 3px;
    position: absolute;
    top:105%;
    
}
.section-heading::after{
    content: '';
    background-color:var(--highlight-color);
    height: 3px;
    width: 50px;
    position: absolute;
    top: 90%;
    left: 0;
   
}
#home{
    height:100vh;
}
.homebox{
    padding-top: 12%;
    padding-left: 40%;
}
    
.homepic{
    position: absolute;
    width:200px;
    border-radius: 70%;
}
.circlecontainer{
    display:flex;
    justify-content:center;
    position: relative;
    height: 215px;
    width: 215px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0.6px 0.6px 4px 4px lightgray;
}

#home a {
    padding-top: 7px;
    background-color: var(--highlight-color);
    margin-left: 8px;
    border-radius: 50%;
    transition: 0.5s;

}
.fa-brands{
    color: white;
    transition: 0.5s;
}
.fa-brands:hover{
    transform: scale(1.1);
}
#home a:hover{
    transform: scale(1.2);
}
.sub-heading{
    margin-top: 5%;
}
.progress-bar{
    background-color: var(--highlight-color)!important;
}
.aboutbtn{background-color: var(--highlight-color);
    color:white;
    margin-left: 1.8%;
    margin-top:1.8% ;
    width: 130px;
    
    
}

.aboutbtn:hover{
    transform: scale(1.1);
    color: var(--text-mute);
}

.resumebox{
    Height:fit-content;
    width:90%;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(47, 46, 77, 0.15);
}
.timepiece{position: relative;
    padding-top: 8%;
}
.timepiece:last-child{
    padding-bottom: 8%;
}

.circledot{
    margin-left: 1%;
    height:10px;
    width:10px;
    position: absolute;
    border-radius: 50%;
    left:-5%;
    background-color: var(--highlight-color);
}

.circledot::after{
    content: '';
    background-color: var(--highlight-color);
    height: 180px;
    width: 1px;
    position: absolute;
    left: 35%;
}

.servicebox{
    height: 280px;
    margin-top:20px;
    width: 300px;
    background-color: white;
    transition: all ease-in-out .4s;
    margin-left: 1%;
    text-align: center;
    padding-top: 5%;
    border-radius: 10px;

}
.servicebox:hover{
    box-shadow: 3px 0 20px 1px rgba(47, 46, 77, 0.15);
}
    
.servicebox .icon{
    color:var(--highlight-color);
    font-size: 3rem;
   border-radius: 50%;
    margin: auto;
    width: 80px;
    display: block;
    transition: ease-in .6s;
    
}
.servicebox:hover .icon{
    background-color: var(--highlight-color);
    color:white;
    transform:scale(0.8);  
}

.contact-container{
margin-top: 80px;
}
.contactrow{
    display:flex;

}
.cube { padding-right:100px;
    width: 50px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-45deg); 
 }

 .cube div {
    width: 50px;
    height: 50px;
    position: absolute;
    background: var(--highlight-color);

    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.6);
 }
 
 
 .cube div.top {
    transform: rotateX(90deg);
    margin-top: -25px;
    transition: all ease-in-out 1s;
 }
 .cube div.top:hover{
     transform: translateX(-60px);
 }
 
 .cube div.right {
    transform: rotateY(90deg); 
    margin-left: 25px;
    transition:all ease-in-out 1s;
 }
 .cube div.right:hover, .top {
    display:block;
 }
 

 
 .cube div.bottom {
   transform: rotateX(90deg);
   margin-top: 25px;
 }
 
 .cube div.left {
    transform: rotateY(-90deg);
    margin-left: -25px;
 }
 .cube div.left:hover {
    transform:translateZ(50px)
 }
 
 .cube div.front {
    transform: translateZ(25px); 
    transition: all ease-in-out 2s;
 }
 .cube div.front:hover {
    transform:translateZ(-60px)
 }
 
 .cube div.back {
    transform: translateZ(-25px); 
 }
